<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154586257070-ohjrlfnf8d8vs6kg88ouenhnfn27neuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154586257070-ohjrlfnf8d8vs6kg88ouenhnfn27neuj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154586257070-agkd46j3jhoai72r825ddkfhi4irkeiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZOnNsomCAgU5POSdYTaigIY1s5Pvy7PU</string>
	<key>GCM_SENDER_ID</key>
	<string>154586257070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sugarcam.videochat</string>
	<key>PROJECT_ID</key>
	<string>video-chat-1628247730520</string>
	<key>STORAGE_BUCKET</key>
	<string>video-chat-1628247730520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154586257070:ios:3aab3aff517e49098e3f3f</string>
</dict>
</plist>