<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154586257070-17k7hvi5ptej9buofubof5oujg5o1a9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154586257070-17k7hvi5ptej9buofubof5oujg5o1a9d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154586257070-4qphcqhha8o9rfpdjuj1h4rk0lq34oa7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyoiWD16F9erdjGICmgYKOSWt3Cc8jE0w</string>
	<key>GCM_SENDER_ID</key>
	<string>154586257070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randomvideochat.sugarcam</string>
	<key>PROJECT_ID</key>
	<string>video-chat-1628247730520</string>
	<key>STORAGE_BUCKET</key>
	<string>video-chat-1628247730520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154586257070:ios:32f7d0ed93ba058e8e3f3f</string>
</dict>
</plist>